@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
<footer class="footer_part">
    <div class="container">
        <div class="row  d-flex justify-content-center">
            <div class="col-sm-6 col-lg-3">
                <div class="single_footer_part">
                    <h4>@localizer["About"] </h4>
                    <p>
                        @localizer["aboutDesc"]
                    </p>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3">
                <div class="single_footer_part">
                    <h4>@localizer["Navigation"] </h4>
                    <ul class="list-unstyled d-inline">
                        <li><a asp-controller="Home" asp-action="Index">@localizer["Home"]</a></li>
                        <li><a asp-controller="Package" asp-action="Index">@localizer["Packages"]</a></li>
                        <li><a asp-controller="Home" asp-action="About">@localizer["AboutNav"]</a></li>
                        <li><a asp-controller="Home" asp-action="About">@localizer["Contact"]</a></li>
                    </ul>
                </div>
            </div>
            <!--Instafeed -->
            @await Component.InvokeAsync("Instafeed")
        </div>
        <hr>
        <div class="row">
            <div class="col-lg-8">
                <div class="copyright_text">
                    <P>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        Copyright &copy;
                        <script>document.write(new Date().getFullYear());</script>
                        @localizer["copyright"]<i class="ti-heart" aria-hidden="true"></i> @localizer["by"]  <a href="https://colorlib.com" target="_blank"> Hajer Gafsi </a>@localizer["taraf"]
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </P>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="footer_icon social_icon">
                    <ul class="list-unstyled">
                        <li><a class="single_social_icon"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a class="single_social_icon"><i class="fab fa-twitter"></i></a></li>
                        <li><a class="single_social_icon"><i class="fas fa-globe"></i></a></li>
                        <li><a class="single_social_icon"><i class="fab fa-behance"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <img src="~/img/overlay_2.png" alt="#" class="footer_overlay">
</footer>
