@model IEnumerable<Tour>

@{
    Layout = "../Admin/_LayoutAdmin.cshtml";
    ViewData["Title"] = "Tours";
}


<div class="">
    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.TourId)</th>
                <th>@Html.DisplayNameFor(model => model.name)</th>
                <th>@Html.DisplayNameFor(model => model.startDate)</th>
                <th>@Html.DisplayNameFor(model => model.endDate)</th>
                <th>@Html.DisplayNameFor(model => model.description)</th>
                <th>Cities</th>
                <th> </th>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model)
            {
            <tr>
                <td>@item.TourId</td>
                <td>@item.name</td>
                <td>@item.startDate</td>
                <td>@item.endDate</td>
                <td>@item.description</td>
                <td>@await Component.InvokeAsync("CityList", new { id = item.TourId, mode ="list" })</td>
                <td><span class="badge bg-success"><a href="">Update</a></span> - <span class="badge bg-danger"><a href="">Delete</a></span></td>
            </tr>

            }

        </tbody>
    </table>
</div>
