@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@model Proje.Models.About
@{
    ViewData["Title"] = localizer["About"];
}
<!-- breadcrumb start-->
<section class="breadcrumb breadcrumb_bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb_iner text-center">
                    <div class="breadcrumb_iner_item">
                        <h2>@localizer["About"]</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="d-flex justify-content-center col-12">
    <div class="d-flex col-10 flex-sm-column flex-md-column flex-lg-row flex-xs-column" style=" padding-top: 60px;">

        <div class="col-md-10 col-lg-6" style="padding-right: 20px;padding-bottom: 20px;color: coral;">
            <h3 style="font-weight: 200; font-family: 'Kaushan Script';">@localizer["company"]</h3>
            <img src=@Model.logo />
            <p class="text-dark" style="font-weight: 200; font-family: 'Kaushan Script';">@localizer["about company"]</p>
        </div>
        <div class="col-md-10 col-lg-6" style="background: antiquewhite;padding: 30px 30px 0px 30px;border: 2px solid #ccc;">
            <h3 style="color: coral;"> @localizer["contact"] </h3>
            <dl class="row" style="padding-top: 10%;">
                <span class="contact-info__icon"><i class="ti-home"></i></span>
                <dt class="col-sm-10">
                    @Html.DisplayNameFor(model => model.address)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.address)
                </dd>
            </dl>
            <dl class="row">
                <span class="contact-info__icon"><i class="ti-tablet"></i></span>
                <dt class="col-sm-10">
                    @Html.DisplayNameFor(model => model.number)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.number)
                </dd>
            </dl>
            <dl class="row">
                <span class="contact-info__icon"><i class="ti-world"></i></span>
                <dt class="col-sm-10">
                    @Html.DisplayNameFor(model => model.intNumber)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.intNumber)
                </dd>
            </dl>
            <dl class="row">
                <span class="contact-info__icon"><i class="ti-email"></i></span>
                <dt class="col-sm-10">
                    @Html.DisplayNameFor(model => model.email)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.email)
                </dd>
            </dl>
        </div>
    </div>
</div>

<!-- breadcrumb start-->
