@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@model Proje.Models.City
@{
    ViewData["Title"] = "Home Page";
}

<!-- banner part start-->
<partial name="_BannerPartial"/>
<!-- banner part start-->
<!-- banner part start-->
<section class="search_your_country">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-lg-12">
                <div class="search_form">
                    <form asp-action="SearchResult" method="get">
                        <div asp-validation-summary="All" class="form-row">
                            <div class="col-lg-9">
                                <div class="search_form_iner">
                                    <select asp-for="CityID" class="custom_select" id="inlineFormCustomSelect1">
                                        @await Component.InvokeAsync("CityList")
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <button class="search_btn" type="submit">@localizer["search"]</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="row">
            @await Component.InvokeAsync("TourList")
            <a class="read_btn">@localizer["more"]</a>
        </div>
    </div>
    <img src="~/img/animate_icon/Shape-1.png" alt="" class="feature_icon_1">
    <img src="~/img/animate_icon/Shape-2.png" alt="" class="feature_icon_2">
</section>
<!-- banner part start-->
<!-- feature_part start-->
<section class="feature_part padding_top">
    <div class="container">
        <div class="row align-items-center justify-content-between">
            <div class="col-lg-7">
                <div class="feature_img">
                    <img src="~/img/about_img.png" alt="">
                </div>
            </div>
            <div class="col-lg-5">
                <div class="feature_part_text">
                    <img src="~/img/section_tittle_img.png" alt="#">
                    <h2>@localizer["Amazing"]</h2>
                    <p>
                        @localizer["desc"]
                    </p>
                    <span>
                        @localizer["span"]
                    </span>
                    <!--counts come here -->
                    @await Component.InvokeAsync("CountsComponent")
                </div>
            </div>
        </div>
    </div>

    <img src="~/img/animate_icon/Shape-1.png" alt="" class="feature_icon_1">
    <img src="~/img/animate_icon/Shape-2.png" alt="" class="feature_icon_2">
    <img src="~/img/animate_icon/Shape-3.png" alt="" class="feature_icon_3">
</section>
<!-- upcoming_event part start-->
<!-- use sasu part end-->
<section class="popular_place padding_top">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-5">
                <div class="section_tittle text-center">
                    <img src="~/img/section_tittle_img.png" alt="">
                    <h2>@localizer["Popular"] <span>@localizer["Acivities"]</span> </h2>
                    <p>
                        @localizer["selection"]
                    </p>
                </div>
            </div>
        </div>
        <!--Activity display -->
        @await Component.InvokeAsync("ActivityDisplay")

    </div>
</section>
<!-- use sasu part end-->
<!-- about_us part start-->
<section class="place_details section_padding">
    <div class="container-fluid">
        <div class="row justify-content-between">
            <div class="col-md-6 col-lg-6">
                <div class="place_detauls_text">
                    <div class="row justify-content-center">
                        <div class="col-lg-8 col-xl-6">
                            <div class="place_details_content">
                                <img src="~/img/section_tittle_img.png" alt="#">
                                <h2>@localizer["Amazing"]</h2>
                                <p>
                                    @localizer["desc"]
                                </p>
                                <span>
                                    @localizer["span"]
                                </span>
                            </div>
                        </div>
                    </div>
                    <img src="~/img/plase_details_1.png" alt="#">
                </div>
            </div>
            <div class="col-md-6">
                <div class="place_details_img">
                    <img src="~/img/plase_details_2.png" alt="#">
                </div>
            </div>
        </div>
    </div>
    <div class="view_all_btn">
        <a asp-controller="Package" asp-action="Index" class="view_btn"> @localizer["view"]</a>
    </div>
</section>
<!-- about_us part end-->
<!-- pricing part start-->

<section class="tour_package section_padding" style="padding-bottom:40px">
    <div class="container-fluid">
        <div class="row align-items-center">
            <!-- rating here -->
            @await Component.InvokeAsync("Reviews")
            <div class="col-lg-5 col-xl-3 offset-lg-1 col-sm-6">
                <div class="tour_pack_content">
                    <img src="img/section_tittle_img.png" alt="">
                    <h2>@localizer["packages"] </h2>
                    <p>
                        @localizer["packagesDesc"]                      
                    </p>
                    <a asp-action="Index" asp-controller="Package" class="btn_1">@localizer["Book"] </a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- pricing part end-->
<!-- cta part start-->
<hr />
<!-- cta part end-->
<!-- blog part start-->
<section class="blog_part">
    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <div class="section_tittle">
                    <img src="~/img/section_tittle_img.png" alt="">
                    <h2> @localizer["blog"] </h2>
                    <p>
                        @localizer["blogSamples"]                       
                    </p>
                </div>
            </div>
        </div>
        @await Component.InvokeAsync("BlogPosts")
    </div>
</section>
<!-- blog part end-->
